@import url(../../../node_modules/bootstrap/scss/bootstrap.scss);
@import url(../../../node_modules/font-awesome/css/font-awesome.css);
@import url(../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css);

@import "colors";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

select, input, textarea {
  outline: none !important;
  box-shadow: none !important;
}

/* Bedirhan YILDIRIM reset.css */
body {
  margin: 0 auto;
  font: 15px/19px Arial;
  transition: all 0.5s ease 0s;
  background-color: $color-white;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
table, tr, td, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}
:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  width: 1024px;
  margin: 0 auto;
}
